#wrapper {
  background-color: lightgrey;
}
#top h1 {
  padding: 20px;
  padding-left: 100px;
}
#blackline {
  margin: 20px 0px;
  height: 2px;
  background-color: black;
}
.link {
  margin: 20px;
  margin-left: 100px;
  font-size: 24px;
}
#homemain {
  margin-left: 100px;
  height: 515px;
}
.error{
  color: rgb(231, 48, 48);
}
#signup {
  padding-bottom: 125px;
}
#login {
  margin: 30px;
  margin-left: 150px;
  padding: 30px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  border-radius: 12px;
  background-color: rgb(88, 204, 224);
}
#register {
  margin: 30px;
  margin-left: 130px;
  padding: 30px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  border-radius: 12px;
  background-color: rgb(88, 224, 111);
}
#nopemain {
  margin-left: 100px;
  width: 1000px;
  padding-bottom: 400px;
}
ul {
  width: 300px;
  margin-top: 20px;
  background-color: rgb(173, 191, 230);
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
  border-radius: 10px;
  max-height: 360px;
  overflow: auto;
}
li {
  margin: 5px;
  margin-left: 25px;
}
#dashmain {
  margin-left: 100px;
  width: 1000px;
  height: 465px;
}